.c-back.js-100vh
  .c-back__info
    p.
      TIPS
      <br>6.19–7.16
      <br>KYOTO ART CENTER
      <br>–
      <br>KOSUKE IKEDA
      <br>TAKUYA KUMAGAI
      <br>KAZUMICHI KOMATSU
      <br>ARATA MINO
      <br>NAOKI MIYASAKA

  .c-back__browserName
    |Your <span id="browserName">Browser</span> is Cool
