- var siteName = "Tips";
- var domain   = "https://tips-kyoto.github.io";
- var ogImage  = "https://tips-kyoto.github.io/assets/images/ogp.jpg";
- var favicon  = "https://tips-kyoto.github.io/favicon.ico";
-
  var pages = {
    home : {
      url : domain,
      title : 'Tips ティップス | 2018年6月1日(金) - 7月16日(月) @ 京都芸術センター',
      description : 'ビスや釘ではなくクランプで固定する。脚立を台座代わりにする。写真をテープやクリップで留める。インスタレーションには時折、興味深いささやかな技法を発見することができます。これらの技法は、それ自体が表現の核心になるのではなく、脇役として全体の中で機能し、作品の輪郭を形成している様に感じられます。本展では、このようなインスタレーションのささやかな技法に注目してTipsと名付け、5人のアーティストの作品を紹介します。'
    }
  };
