- var siteName = "Tips";
- var domain   = "https://tetsuroshimura.github.io/tips";
- var ogImage  = "";
- var appId    = "";
- var twitter  = "";
- var favicon  = "";
- var icon256  = "";
- var icon152  = "";
- var icon144  = "";
- var icon120  = "";
- var icon114  = "";
- var icon72   = "";
- var icon57   = "";
-
  var pages = {
    home : {
      url : domain,
      name : 'HOME',
      title : 'Tips',
      description : ''
    }
  };
