block vars
include /_modules/_mixins
doctype html
html(lang="ja")
  head
    include /_modules/_head_meta
    include /_modules/_head_link

  body#body(class='p-'+key)
    #wrapper.l-wrapper

      .l-browser.js-draggable.js-100vh
        include /_modules/_header

        .l-browser__inner

          main#main.l-main
            block main
          //- end of main

          include /_modules/_footer

      include /_component/_back


    include /_modules/_footer_link
  //- end of body
