meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
title #{page.title}
meta(name="description", content= page.description)
meta(property="og:type", content="website")
meta(property="og:url", content= page.url)
meta(property="og:description", content= page.description)
meta(property="og:image", content= ogImage)
meta(property="og:title", content= page.title)
meta(property="og:site_name", content= siteName)
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="google-site-verification" content="iytLupbIEbq81ZHKvdI0kpurnhjBf-ePKknGmA_a-PI")

link(rel="icon" sizes="16x16 32x32" href= favicon)
|
|<!--[if IE]>
link(rel="shortcut icon" href= favicon)
|
|<![endif]-->
