header#header.l-header
  if key == 'home'
    h1.l-header__logo(role="banner")
      a(href="/") siteName
  else
    h2.l-header__logo(role="banner")
      a(href="/") siteName
  nav#nav.l-header__nav
