.u-bdr-t { border-top: 1px solid !important; }
.u-bdr-b { border-bottom: 1px solid !important; }
.u-bdr-l { border-left: 1px solid !important; }
.u-bdr-r { border-right: 1px solid !important; }

// .u-bdr-common { border-color: $colorCommon !important; }
