.c-back {
  font-family: $founders;
  height: 100vh;
  position: relative;

  &__info {
    font-size: (30 / 375 * 100vw);
    height: (324 / 375 * 100vw);
    left: calc(50% + #{(162 / 375 * 100vw)});
    line-height: (36 / 30);
    position: absolute;
    top: 24px;
    width: (350 / 375 * 100vw);

    @include min-screen($break_point_min) {
      @include fs(36 / 16);
      height: 378px;
      line-height: (43 / 36);
      top: 28px;
      left: 398px;
      width: 420px;
    }

    p {
      transform: rotate(90deg);
      transform-origin: 0 0;
    }
  }

  &__browserName {
    bottom: 50px;
    color: #FFF;
    font-size: (30 / 375 * 100vw);
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    span {
      text-transform: capitalize;
    }
  }
}
