.c-icon {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 30px;

  &.pin {
    background-image: url(../images/icon_pin.svg);
    background-position: left 2px center;
    background-size: 10px auto;
    padding-left: 20px;
  }

  &.instagram {
    background-image: url(../images/icon_instagram.svg);
    background-size: 19px auto;
  }

  &.facebook {
    background-image: url(../images/icon_facebook.svg);
    background-size: 19px auto;
  }

  &.twitter {
    background-image: url(../images/icon_twitter.svg);
    background-size: 20px auto;
  }
}
