.c-icon {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 1em;

  &.map {
    background-image: url("../images/icon_map.svg");
    background-size: (10 / 18 * 1em) (16 / 18 * 1em);
    padding-left: (16 / 18 * 1em);
  }
}
