// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}
@mixin fs($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Media queries
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin img2x($image, $extension, $size, $position: center, $repeat: no-repeat) {
  background: url($image + '.' + $extension) $repeat $position;
  background-size: $size;

  @media
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (   min--moz-device-pixel-ratio: 2),
    screen and (   -moz-min-device-pixel-ratio: 2),
    screen and (     -o-min-device-pixel-ratio: 2/1),
    screen and (        min-device-pixel-ratio: 2),
    screen and (             min-resolution: 192dpi),
    screen and (             min-resolution: 2dppx) {
    background-image: url($image + '@2x' + '.' + $extension);
    background-size: $size;
  }
}

@mixin imgFull($image, $extension, $size, $position: center, $repeat: no-repeat) {
  background: url($image + '.' + $extension) $repeat $position;
  background-size: $size;

  @media
    screen and (min-width: $break_point_min) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: $break_point_min) and (   min--moz-device-pixel-ratio: 2),
    screen and (min-width: $break_point_min) and (   -moz-min-device-pixel-ratio: 2),
    screen and (min-width: $break_point_min) and (     -o-min-device-pixel-ratio: 2/1),
    screen and (min-width: $break_point_min) and (        min-device-pixel-ratio: 2),
    screen and (min-width: $break_point_min) and (             min-resolution: 192dpi),
    screen and (min-width: $break_point_min) and (             min-resolution: 2dppx) {
    background-image: url($image + '@2x' + '.' + $extension);
    background-size: $size;
  }
}

@mixin transition($duration: .3s) {
  transition: all $duration ease;
}
