.l-header {
  font-family: $helvetica;
  text-align: center;
  padding: 11px 15px 15px;

  @include min-screen($break_point_min) {
    background: #F0F0F0;
    padding: 10px 20px;
  }

  &__tabName {
    @include fs(12 / 16);
    margin-bottom: 11px;

    @include min-screen($break_point_min) {
      @include fs(15 / 16);
      margin-bottom: 16px;
    }
  }

  &__url {
    background: $gray;
    border-radius: 10px;
    color: $aqua;
    @include fs(18 / 16);
    line-height: 40px;

    @include min-screen($break_point_min) {
      background: #FFF;
      border: 1px solid $aqua;
      border-radius: 4px;
      line-height: 28px;
    }

    span {
      display: none;
      @include min-screen($break_point_min) {
        display: inline;
      }
    }
  }

  &__close {
    appearance: none;
    background: none;
    border: 0;
    color: transparent;
    display: block;
    font-size: 0;
    height: 20px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 20px;

    @include min-screen($break_point_min) {
      background: $red;
      border-radius: 50%;
      left: 10px;
      right: auto;
      top: 10px;
    }

    &:before,
    &:after {
      background: #000;
      content: " ";
      height: 2px;
      left: 0;
      position: absolute;
      top: 9px;
      transform: rotate(45deg);
      width: 20px;

      @include min-screen($break_point_min) {
        content: none;
      }
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
