.l-wrapper {
  overflow: hidden;
  position: relative;

  @include max-screen($break_point_max) {
  }
}

.l-main {
}

.l-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $content_padding;
  padding-right: $content_padding;
  max-width: $content_width;

  @include max-screen($break_point_max) {
    padding-left: $content_padding_sp;
    padding-right: $content_padding_sp;
    width: 100%;
  }
}
